@import '../../index.scss';

.cart-container {
  padding: 0 .5em;

  .content-wrapper {
    @include mediaMd {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-gap: 1em;
    }
  }
}

.cart-list {
  max-width: 360px;
  margin: 0 auto;
  margin-top: 1em;
  list-style: none;

  @include mediaMd {
    max-width: 500px;
    margin: auto 0;
    margin-top: 1em;
  }
}

.bold {
  font-weight: $fw-semibold;
}

.cart-item {
  display: flex;
  margin-bottom: 1.2em;
  
  .img-wrapper {
    flex: 1;
    padding-top: .4em;
  }

  .cart-item-content {
    flex: 1.2;
    padding-left: .4em;

    .name {
      font-size: .9em;
      font-weight: $fw-medium;

      @include mediaMd {
        font-size: 1.1em;
      }
    }

    .value {
      font-size: .9em;

      @include mediaMd {
        font-size: 1em;
      }
    }

    .button-wrapper {
      display: flex;
    }

    .size {
      display: block;
      width: 25px;
      height: 25px;
      margin-right: .5em;
      background: none;
      border: 1px solid #000;
      line-height: 1.5em;
      text-align: center;
      transition: all .2s ease-in-out;
      outline: none;
    }

    button.size:hover {
      background: #000;
      color: #fff;
      cursor: pointer;
    }

    button.size:disabled {
      border: 1px solid #666;
      background: transparent;
      color: #666;
      cursor: no-drop;
    }
  }
}

