@import '../../../index.scss';

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 85%;
  max-width: 370px;
  height: 85%;
  padding: 12px;
  padding-top: 38px;
  top: 10%;
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;

  &.small {
    width: 290px;
    height: 120px;
    top: 40%;
    padding: 20px;
    overflow: hidden;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include mediaMd {
    max-width: 500px;
  }

  .close-modal-btn {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    border: none;
    color: #fff;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-size: 1em;
  font-weight: $fw-medium;

  @include mediaSm {
    font-size: 1.2em;
  }
}

.modal-subtitle {
  font-size: .9em;

  @include mediaSm {
    font-size: 1em;
  }
}