@import '../../../index.scss';

.footer {
  width: 100%;
  margin-top: 2em;

  .questions {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 1em;

    &-wrapper {
      max-width: 1200px;
      margin: 0 auto;

      @include mediaMd {
        display: flex;
      }
    }
  }

  .questions-text {
    margin: auto;
    max-width: 400px;
  }
}

.title {
  font-weight: $fw-semibold;
  font-size: 1.4em;

  @include mediaMd {
    font-size: 1.6em;
  }
}

.subtitle {
  font-size: .8em;

  @include mediaMd {
    font-size: 1em;
  }
}

.support-section {
  margin-top: .6em;
  padding: 1em;
  background: #000;
  color: #fff;
  

  .support-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.4em;
    max-width: 1200px;
    padding: 1em calc(1em + 3vw);
    margin: 0 auto;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @include mediaSm {
      grid-template-columns: repeat(4, 1fr);
      padding: 1em 0;
      grid-gap: .3em;
    }

    @include mediaMd {
      padding: 1em 3.2em;
    }
  }

  h4 {
    font-weight: $fw-semibold;
    font-size: .9em;
    margin-bottom: .3em;

    @include mediaMd {
      font-size: 1.3em;
    }
  }

  p {
    font-size: .75em;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: border-bottom .2s ease-in-out;

    &:hover {
      border-bottom: 1px solid #fff;
    }

    @include mediaMd {
      font-size: 1em;
    }
  }
}

.advertising {
  line-height: 2.4em;
  text-align: center;
  font-size: .9em;
}