@import '../../../index.scss';

.detail-item {
  margin-top: 1.3em;

  .detail-title {
    font-weight: $fw-medium;

    @include mediaMd {
      font-size: 1.35em;
    }
  }

  .detail-content {
    margin-top: .4em;

    @include mediaMd {
      display: flex;
    }

    .detail-img-wrapper {
      flex: 1;
      padding-top: .4em;
    }

    .detail-info {
      flex: 1;

      @include mediaMd {
        padding-left: .8em;
      }
    }
  }

  .detail-subtitle {
    font-weight: $fw-medium;
    font-size: 1.1em;

    &:not(:nth-child(1)) {
      margin-top: .4em;
    }
  }

  .detail-value {
    font-size: .9em;

    @include mediaMd {
      font-size: 1em;
    }
  }
}