@import '../../index.scss';

.auth-container {
  padding: 0 .5em;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.switch {
  margin-bottom: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}