@import '../../index.scss';

.auth-container {
  padding: 0 .5em;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.switch {
  margin-bottom: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-title {
  font-weight: $fw-semibold;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 1.4em;
  text-align: center;

  @include mediaSm {
    font-size: 1.2em;
  }
}