@import '../../../index.scss';

.contact-form {
  max-width: 360px;
  margin: 0 auto;
  margin-top: 1.4em;

  @include mediaMd {
    max-width: 400px;
    margin-right: 1.6em;
  }

  .title {
    font-size: 1.15em;
    margin-top: .8em;
  
    @include mediaMd {
      font-size: 1.3em;
    }
  }

  .input-wrapper {
    margin-top: .8em;
  }

  .label {
    width: 100%;
  }

  .input {
    width: 100%;
    line-height: 1.8em;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;

    &::placeholder {
      color: #000;
    }
  }

  .select-input {
    width: 100%;
    outline: none;
    border: 1px solid #000;
  }
}